<app-header></app-header>
<div class="system-administrator-container">
  <ul class="list-group">
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="new-user">New User</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="new-group">New Group</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="new-event">New Event</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="edit-group">Edit Group</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="edit-event">Edit Event</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="all-users">View Users</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="all-groups">View Groups</button>
    </li>
    <li class="list-group-item">
      <button class="btn btn-primary" routerLink="all-events">View Events</button>
    </li>
  </ul>
</div>