<app-header></app-header>
<form #f="ngForm" novalidate (ngSubmit)="f.form.valid && update()">
  <div class="form-container">
    <div class="input-group">
      <span class="input-group-text">Group</span>
      <select class="form-select form-control" (change)="onChangeGroup($event)" [(ngModel)]="selectedId" name="group">
        <option *ngFor="let group of groups" [ngValue]="group.id" [value]="group.id">{{ group.name }}</option>
      </select>
    </div>
    <div class="edit-container" *ngIf="selectedId !== null">
      <div class="input-group">
        <span class="input-group-text">Name</span>
        <input type="text" class="form-control" placeholder="PZ-12" [(ngModel)]="group.name" name="name" required
          #name="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="f.submitted && name.errors && name.errors['required']">
          <div>Name field is required</div>
        </div>
      </div>
      <div class="input-group mb-3">
        <button type="submit" class="btn btn-primary" style="width: 20vw">Update</button>
      </div>
      <div class="input-group mb-3">
        <button type="button" class="btn btn-danger" style="width: 20vw" (click)="delete()">Delete</button>
      </div>
    </div>
    <div class="input-group mb-3">
      <button type="reset" class="btn btn-secondary" style="width: 20vw" (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>